<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sga_Merchandiser::merchandiser" title="Merchandiser" translate="title" module="Sga_Merchandiser" sortOrder="100" parent="Magento_Catalog::inventory" action="merchandiser" resource="Sga_Merchandiser::merchandiser"/>
    </menu>
</config>
